.grid-row div {
	border: 0.5px rgba(0, 190, 218, 0.75) ridge;
	height: 28px;
	width: 28px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	position: relative;
}
.grid-container {

}

.start {
	position: relative;
	background-image: url(http://cdn.onlinewebfonts.com/svg/download_71708.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	animation-name: specialNodes;
	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

/*  */

.end {
	position: relative;
	background-image: url(http://cdn.onlinewebfonts.com/svg/img_208778.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	animation-name: specialNodes;
	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}


.grid-row {
	margin: 0px !important;
	padding: 0px;
	display: flex;
	justify-content: center;
}

.node {
	width: 28px;
	height: 28px;
	outline: 1px solid rgb(175, 216, 248);
	display: inline-block;
}

.node-visited {
	animation-name: visitedAnimation;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}
.node-weight {
	position: relative;
	background-image: url(https://cdn0.iconfinder.com/data/icons/sports-and-games-1-1/65/37-512.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes visitedAnimation {
	0% {
		transform: scale(0.1);
		background-color: rgba(0, 0, 66, 0.75);
		border-radius: 100%;
	}

	25% {
		transform: scale(0.5);
		background-color: rgba(117, 160, 216, 0.75);
	}

	50% {
		background-color: rgba(17, 104, 217, 0.75);
	}

	75% {
		transform: scale(1.2);
		background-color: rgba(0, 217, 159, 0.75);
	}

	100% {
		transform: scale(1);
		background-color: rgba(0, 190, 218, 0.75);
	}
}

.node-wall {
	background-color: rgb(12, 53, 71);
}

.node-shortest-path {
	animation-name: shortestPath;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes shortestPath {
	0% {
		transform: scale(0.6);
		background-color: rgb(255, 254, 106);
	}

	50% {
		transform: scale(1.2);
		background-color: rgb(255, 254, 106);
	}

	100% {
		transform: scale(1);
		background-color: rgb(255, 254, 106);
	}
}

.sub-btn {
	display: inline-flex;
	color: blanchedalmond;
	background-color: rgb(0, 47, 76);
	margin-left: 100px;
	border-radius: 300px;
	margin-left: 50px;
	padding: 13px;
}
.form-group {
	margin-bottom: 1rem;
	display: inline-block;
	margin-top: 5%;
}
.select {
	background-color: rgb(0, 47, 76);
	color: cornsilk;
}

.btn-1 {
	margin-left: 50px;
	display: inline-block;
	background-color: rgb(0, 47, 76);
}
.btn-2 {
	margin-left: 50px;
	display: inline-block;
	background-color: rgb(0, 47, 76);
}
.select:active {
	background-color: rgb(0, 47, 76);
	color: cornsilk;
}

.select option {
	background-color: rgb(0, 47, 76);
	color: cornsilk;
}

.nav-bg {
	background-color: rgb(0, 94, 153);
	border-bottom: 0.25px ridge gray;
}
.nav-bg1 {
	background-color: rgb(0, 94, 153);
}

.card {
	border: none !important;
}
.board {
	border: none !important;
}

.nav {
	display: inline-flex;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	flex-wrap: wrap;
	align-content: center;
}

.navbar-nav {
	display: inline-block;
}

form {
	display: inline-block;
}

.logo {
	padding-left: 2%;
	padding-right: 2%;
}

li.nav-item {
	margin-top: 2.5%;
}

.speed {
	margin-left: 50px;
}

@keyframes specialNodes {
	0% {
		transform: scale(0.3);
		/*background-color: darkslategrey;*/
	}

	50% {
		transform: scale(1.2);
		/*background-color: darkslategrey;*/
	}

	100% {
		transform: scale(1);
		/*background-color: darkslategrey;*/
	}
}

@media screen and (max-width: 767px) {
	.nav2 {
		margin-left: 6px;
	}
}
